################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/obj
/WebAPI/bin/Debug/net8.0
/WebAPI/.vs
/.gitignore
/WebAPI/bin/Release/net8.0
/WebAPI/Properties/PublishProfiles
